@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color:rgba(23,24,33,1) ;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    scrollbar-width: none;
  }
  